<div class="container mt-3">
    
    <div class="row d-flex justify-content-between">
        <div>
            <h3>My cart</h3>
        </div>
        <div class="col-md-6">
            <div class="form-inline d-flex justify-content-end">
                <!-- <div class="mr-2">
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </div> -->
                <!-- <div>
                    <select name="catFilter" id="category" class="form-control" (click)="filter()" [(ngModel)]="catFilter">
                        <option value="0">All</option>
                        <option *ngFor="let cat of categories" value="{{ cat.productCategoryId }}">{{ cat.description }} ({{ cat.productCategoryId }})</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-6">
        <div class="card mt-3" *ngFor="let product of productList">
            <div class="card-header">
               <strong> # {{ product.productId }}</strong> | {{ product.name }} ({{ product.productCategoryId }})
            </div>
            <div class="card-body">
                {{ product.description }}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="text-success">$ {{ product.price }}</div>
            </div>
        </div>
    </div>
</div>
